.switcher-selector {
    display: inline;
}

.switcher-button {
    height: 100%;
    color: #fff;
    background-color: #424242;
    font-size: inherit;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.switcher-selector :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.switcher-selector :last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.switcher-button.active {
    background-color: #f65261;
}