<div class="nl-toolbar">
    <select class="nl-toolbar__select-souce">
        <option *ngFor="let source of sources" [value]="source">{{ source }}</option>
    </select>
    <div class="nl-toolbar__filter">
        <input class="nl-toolbar__filter-input" />
        <button class="nl-toolbar__filter-button">Filter</button>
    </div>
    <div>
        <input type="checkbox" id="nl-toolbar-only-local" class="nl-toolbar-only-local" />
        <label for="nl-toolbar-only-local">Only created by me</label>
    </div>
    <button>Add Article</button>
</div>