.nl-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    border: 1px solid;
    border-top: none;
}

.nl-toolbar__select-source {
    width: 120px;
}

.nl-toolbar__filter-input {
    margin-right: 6px;
}

.nl-toolbar__button {
}
