.search-results-toolbar {
  color: #ffffff;
  height: 70px;
  background-color: darkgray;
}

.search-results-movies {
  background-color: grey;
  color: #ffffff;
  height: calc(100% - 70px - 200px - 70px);
}

.search-by-selector {
  display: inline;
}

.search-results-movies__item {
  height: 300px;
  width: 200px;
  margin: 20px;
  display: inline-block;
  background-color: lightgray;
}

.movie-item__image {
  height: 150px;
}
