<div class="nl-header">
    <div class="nl-header__top-bar nl-top-bar">
        <div class="nl-top-bar__logo">
            <a class="nl-top-bar__home" routerLink="/"
                ><span class="nl-top-bar__logo-text">NL</span></a
            >
        </div>
        <div class="nl-top-bar__login-info">
            <div *ngIf="userName">
                <span class="nl-top-bar__login">{{ userName }}</span>
                <button class="nl-top-bar__login-button nl-button" (click)="logout()">
                    Log out
                </button>
            </div>
            <div *ngIf="!userName">
                <button class="nl-top-bar__login-button nl-button" (click)="showLoginPopup()">
                    Log in
                </button>
            </div>
        </div>
    </div>
    <h1 class="nl-header__header">{{ header }}</h1>
</div>
