<div class="nl-header">
    <div class="nl-header__top-bar nl-top-bar">
        <div class="nl-top-bar__logo">
            <a class="nl-top-bar__home" routerLink="/"
                ><span class="nl-top-bar__logo-text">NL</span></a
            >
        </div>
        <div class="nl-top-bar__login-info">
            <div *ngIf="userName">
                <span class="nl-top-bar__login">{{ userName }}</span>
                <button class="nl-top-bar__login-button" (click)="logout()">
                    Log out
                </button>
            </div>
            <form
                *ngIf="!userName"
                (ngSubmit)="login(name.value, password.value)"
            >
                <label>Login</label>
                <input #name name="login" />
                <label>Password</label>
                <input #password name="password" type="password" />
                <button class="nl-top-bar__login-button" type="submit">
                    Log in
                </button>
                <button
                    class="nl-top-bar__login-button"
                    (click)="register(name.value, password.value)"
                >
                    Register
                </button>
                <div *ngIf="errorMessage">{{ errorMessage }}</div>
            </form>
        </div>
    </div>
    <h1 class="nl-header__header">{{ header }}</h1>
</div>
