.search-results-movies__item {
  height: 400px;
  width: 300px;
  margin: 20px;
  display: inline-block;
  background-color: lightgray;
  text-align: initial;
}

.movie-item__image {
  height: 300px;
}

.movie-item__image img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.movie-item__details {
    margin-top: 10px;
    padding: 10px;
}

.movie-item__title {
    margin: 0;
    display: inline;
}

.movie-item__year {
    float: right;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 0 3px;
}
