<div class="nl-news-list">
    <nl-toolbar
        [sources]="sources"
        [selectedSourceId]="selectedSourceId"
        [q]="q"
        [userNewsOnly]="userNewsOnly"
        [canAddNews]="canAddNews"
        [searchWithin]="searchWithinPhrase"
        (filterApplied)="filterAppliedHandler($event)"
        (addNewsItemClicked)="onAddNews()"
        (searchWithinApplied)="onSearchWithinApply($event)"
    >
    </nl-toolbar>
    <section class="nl-news-list-items">
        <ng-template #newsItemsHost></ng-template>
        <button class="nl-news-list__load-more" (click)="loadMoreClick()">
            Load More
        </button>
    </section>
</div>
