<form class="nl-news-edit">
    <div class="nl-news-edit-section-1">
        <div>
            <label>Heading</label>
            <input />
        </div>
        <div>
            <label>Short description</label>
            <input />
        </div>
        <div>
            <label>Content</label>
            <textarea></textarea>
        </div>
    </div>
    <div class="nl-news-edit-section-2">
        <div>
            <label>Image</label>
            <div>
                <input type="radio" name="image" />
                <label>URL</label>
                <input type="radio" name="image" />
                <label>File</label>
            </div>
            <input />
        </div>
        <div>
            <label>Date</label>
            <input type="datetime" />
        </div>
        <div>
            <label>Author</label>
            <input />
        </div>
        <div>
            <label>Source URL</label>
            <input />
        </div>
        <div>
            <button>Save</button>
            <button>Cancel</button>
        </div>
    </div>
</form>