<form class="nl-news-edit">
    <div class="nl-news-edit__section">
        <div class="nl-news-edit__field">
            <label class="nl-news-edit__label">Heading</label>
            <input class="nl-news-edit__input" />
        </div>
        <div class="nl-news-edit__field">
            <label class="nl-news-edit__label">Short description</label>
            <input class="nl-news-edit__input" />
        </div>
        <div class="nl-news-edit__field">
            <label class="nl-news-edit__label">Content</label>
            <textarea class="nl-news-edit__input"></textarea>
        </div>
    </div>
    <div class="nl-news-edit__section">
        <div class="nl-news-edit__field">
            <label class="nl-news-edit__label">Image</label>
            <div class="nl-news-edit__image-source">
                <input type="radio" name="image" />
                <label>URL</label>
                <input type="radio" name="image" />
                <label>File</label>
            </div>
            <input class="nl-news-edit__input" />
        </div>
        <div class="nl-news-edit__field">
            <label class="nl-news-edit__label">Date</label>
            <input type="datetime" class="nl-news-edit__input" />
        </div>
        <div class="nl-news-edit__field">
            <label class="nl-news-edit__label">Author</label>
            <input class="nl-news-edit__input" />
        </div>
        <div class="nl-news-edit__field">
            <label class="nl-news-edit__label">Source URL</label>
            <input class="nl-news-edit__input" />
        </div>
        <div class="nl-news-edit-buttons">
            <button class="nl-news-edit__button">Save</button>
            <button class="nl-news-edit__button">Cancel</button>
        </div>
    </div>
</form>