.nl-news-edit {
    padding: 18px;
    border: 1px solid;
    margin: 12px auto;
    width: 800px;
}

.nl-news-edit__section {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.nl-news-edit__field {
    margin-bottom: 12px;
    font-size: 14px;
}

.nl-news-edit__input {
    display: block;
    width: 90%;
    max-width: 90%;
}

.nl-news-edit__image-preview {
    max-width: 40px;
}

.nl-news-edit__image-source {
    display: inline;
}

.nl-news-edit-buttons {
    margin-top: 24px;
}

.nl-news-edit__button {
    width: 84px;
    margin-right: 12px;
}
