html
  head
    title Authentication demo
  body
    h1 Authentication demo
    div
      h2 Facebook authentication
      a(href='/login/facebook') Login with facebook
    div
      h2 Form authentication
      div
        a(href='/login') Login with form
      div
        a(href="/register") Register

