<div class="nl-news-list-item">
    <div class="nl-news-list-item__section">
        <img
            [src]="model.image"
            alt="News photo"
            class="nl-news-list-item__image"
        />
    </div>
    <div class="nl-news-list-item__section nl-news-list-item-content">
        <div class="nl-news-list-item-header">
            <h2
                class="nl-news-list-item__news-title"
                [innerHTML]="model.heading | highlight: searchWithin"
            ></h2>
            <div class="nl-news-list-item__news-time">
                {{ model.date | date: 'medium' }}
            </div>
        </div>
        <div
            class="nl-news-list-item__news-text"
            [innerHTML]="model.shortDescription | highlight: searchWithin"
        ></div>
        <a [routerLink]="model.localUrl" class="nl-news-list-item__more-link"
            >Read more...</a
        >
    </div>
    <div
        *ngIf="model.isEditable"
        class="nl-news-list-item__section nl-news-list-item-operations"
    >
        <button
            class="nl-news-list-item-operations__button"
            (click)="editNewsClick(model.id)"
        >
            Edit
        </button>
        <button
            class="nl-news-list-item-operations__button"
            (click)="deleteNewsClick(model.id)"
        >
            Delete
        </button>
    </div>
</div>
