<div class="nl-news-list-item">
    <div class="nl-news-list-item__image-section">
        <img src="" alt="News photo" />
    </div>
    <div class="nl-news-list-item__text-section">
        <div class="nl-news-list-item-header">
            <h2 class="nl-news-list-item__news-title">Newsline</h2>
            <div class="nl-news-list-item__news-time">Date: dd/mm/yy: time</div>
        </div>
        <div class="nl-news-list-item__news-text">News text</div>
        <a href="">Read more...</a>
    </div>
    <div class="nl-news-list-item__operations">
        <button class="nl-news-list-item__edit-button">Edit</button>
        <button class="nl-news-list-item__delete-button">Delete</button>
    </div>
</div>