@import './constants';

* {
  font-family: sans-serif;
}

.app-title {
    font-size: 16px;
}

.setting-input {
  width: $settings-width;
}

.news-item {
  border-bottom: 1px solid lightgray;
  padding-bottom: 6px;
}

.news-item__title {
  margin-bottom: 0;
}

.news-item__publish-date {
  padding: 6px 0;
  font-size: 12px;
  font-style: italic;
  color: gray;
}

.news-item-content {
  display: flex;
}

.news-item__image {
  width: $image-width;
  height: 100%;
}

.news-item-text-block {
}

.news-item-text-block_with-margin {
  margin-left: 6px;
}

.news-item__text {
  font-size: $content-font-size;
  margin-top: 0;
}

.news-item__url {
  font-size: $content-font-size;

  a {
    color: gray;
    font-style: italic;
    text-decoration: none;
  }
}

.credits {
  margin-top: 12px;
  font-size: 12px;
  color: gray;
}
