.fcm-navigation {
  display: inline-block;
  width: 10%;
  height: 100%;
  min-width: 160px;
  margin-right: 12px;
  border-right: 3px solid;
}

.fcm-content {
  display: inline-block;
  vertical-align: top;
  padding: 6px;
}
