<div class="nl-details">
    <div class="nl-details__image-section">
        <img src="" alt="News photo" />
    </div>
    <div class="nl-details__text-section">
        <h2 class="nl-details__news-title">Newsline</h2>
        <section class="nl-details__news-text">News text</section>
        <div class="nl-details__news-time">Date: dd/mm/yy: time</div>
        <div class="nl-details__news-author">Author</div>
    </div>
    <div class="nl-details__operations">
        <button class="nl-details__edit-button">Edit</button>
        <button class="nl-details__delete-button">Delete</button>
    </div>
</div>