.header {
  height: 200px;
  background-color: gray;
  padding-top: 20px;
}

.header-toolbar {
  margin: 0 20px;
}

.app-title {
  color: #f65261;
}

.search {
  width: 80%;
  margin: 40px auto 20px;
}

.search-label {
  color: #ffffff;
  font-size: 36px;
}

.search-parameters {
  color: #ffffff;
}

.search-results-toolbar {
  color: #ffffff;
  height: 70px;
  background-color: darkgray;
}

.search-results-movies {
  background-color: grey;
  color: #ffffff;
  height: calc(100% - 70px - 200px - 70px);
}

.search-by-selector {
  display: inline;
}

.search-results-movies__item {
  height: 300px;
  width: 200px;
  margin: 20px;
  display: inline-block;
  background-color: lightgray;
}

.movie-item__image {
  height: 150px;
}

.footer {
  color: #ffffff;
  height: 70px;
  background-color: darkgray;
}
