.header {
  height: 400px;
  background-color: gray;
  padding-top: 20px;
}

.header-toolbar {
  color: #f65261;
  padding: 15px 50px;
  font-size: 20px;
}

.app-title__company {
  font-weight: bold;
}

.footer {
  color: #ffffff;
  height: 70px;
  background-color: darkgray;
}
