.header {
  height: 200px;
  background-color: gray;
  padding-top: 20px;
}

.header-toolbar {
  margin: 0 20px;
}

.app-title {
  color: #f65261;
}

.footer {
  color: #ffffff;
  height: 70px;
  background-color: darkgray;
}
